---
layout: default
title: 
subtitle: 
description:
seo_image_path: #'/images/media/filename.jpg'
top_bar: white
---

{% assign related_products = site.data.contentful.product.product | where: "type", page.title %}
{% assign related_product_header = page.title | prepend: "All " %}

<main id="main" class="topic-page">
  {% include components/nav-button.html %}
  <div class="row expanded page-section--topic top-section section--gray" style="background-image: url({{ page.header_image.url }})">
    <div class="column large-5 medium-12 small-12">
      <!-- <span class="heading-start">Engleberg Center on:</span> -->
      <h1>{{ page.title }}</h1>
      <div class="bar" style="background-image: url({{ page.icon.url }})"></div>
      <div class="markdown-secondary">
        {{ page.introduction | markdownify }}
      </div>
    </div>
    <div class="column large-6 large-offset-1 medium-12 small-12 no-padding">
      {% if page.featured_research %}
        <h3 class="heading-c">Featured Resource</h3>
        {% include components/card-featured.html card=page.featured_research full_author=page.featured_research.full_author path="/products/" %} 
      {% endif %}
    </div>
  </div>

  {% if related_products %}
    {% include components/generic-card-layout.html 
      cards=related_products
      cards_heading=related_product_header
      cards_type="research_cards"
    %}
  {% endif %}

</main>
