@font-face {
  font-family: 'cooper-hewit-book';
  src: url('../fonts/CooperHewitt-Book.woff') format('woff');
}

@font-face {
  font-family: 'cooper-hewit-bold';
  src: url('../fonts/CooperHewitt-Bold.woff') format('woff');
}

$sans-serif: cooper-hewit-book, sans-serif;

@mixin cooper-hewit-bold {
  font-family: cooper-hewit-bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include cooper-hewit-bold;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: $black;
}

$h1: 4.2rem;
$h2: 3rem;
$h3: 1.8rem;
$h4: 1.5rem;
$h5: 1.2rem;
$h6: 1.1rem;
$p: 1.2rem;
$helper: 1rem;

$bold: 800;
$regular: 400;
$light: 300;

h1 {
  font-size: $h1;
  line-height: 1.2;
}

h2 {
  font-size: $h2;
}

h3 {
  font-size: $h3;
}

h4 {
  font-size: $h4;
  font-weight: 300;
}

h5 {
  font-size: $h5;
}

h6 {
  font-size: $h6;
}

p {
  font-size: $p;
  font-family: $sans-serif;

  strong,
  b {
    @include cooper-hewit-bold;
  }
}

.helper {
  font-size: $helper;
}

p.helper.inactive {
  color: $black-50;
}

#all-caps-text {
  @include all-caps-text;
}

.heading-a {
  font-family: $sans-serif;
  font-size: $h3;
}

.heading-b {
  font-family: $sans-serif;
  font-weight: $light;
  font-size: $h4;
}

.heading-c {
  // sans serif all caps bold small
  // font-family: $sans-serif;
  text-transform: uppercase;
  font-size: $h5;
  // margin: .5rem;
  font-weight: $bold;
}

.page-section--topic {
  h1 {
    font-size: $h2;
    margin: 0;
  }
}

.card-section-heading {
  // margin-top: 2rem;

  h2 {
    font-size: $h3;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.topics-dropdown-container {
  #line-one {
    font-family: $sans-serif;
    font-size: $h1;
    font-weight: $bold;
    line-height: 1;
  }
}