{% assign main_nav = site.data.contentful.nav.nav | where: "nav_title", "Main Nav" | first  %}
<nav class="main-nav" tabindex="-1">
  <div class="main-nav__top-row">
    <div class="top-row--right">
      <button class="material-icons close-nav">chevron_left</button>
      <a class="home-icon" href="/" aria-label="home"><span class="material-icons">home</span></a>
    </div>
  </div>
  {% for nav_item in main_nav.nav_items %}
    <a class="link" href="{{ nav_item.nav_item_path | prepend: '/' | relative_url }}">{{nav_item.nav_item_title}}</a>
  {% endfor %}
</nav>
