---
layout: default
title: GLAM-E Lab
description: 
top_bar: no-logo
---

{% assign data = site.data.contentful.index.index | first %}

<main role="main" id="main" class="index">
  <!-- main content starts here -->
  <!-- FEATURED PROJECT CARD  -->
  {% include components/nav-button.html %}
  <div class="row expanded section--gray top-section">
    <div class="column large-5 medium-12 small-12">
      <h1 class="visually-hidden">Engelberg Center on Innovation Law & Policy: NYU School of Law</h1>
      <div class="main-header" aria-hidden="true">
        <!-- <img id="main-logo" src="{{ '/images/ec-vertical-lockup-color.svg' | relative_url }}" /> -->
        {% comment %}
        <div class="logo-container"></div>
        <span class="main-header-one">Engelberg</span>
        <span class="main-header-one">Center</span>
        <span class="main-header-two">on Innovation Law & Policy</span>
        <span class="main-header-three">NYU School of Law</span>
        {% endcomment %}
      </div>
      <div class="button-container intro-button">
        <a class="button button--arrow" href="{{ '/our-mission' | relative_url }}">About The GLAM-E Lab</a>
      </div>
    </div>
    <div class="column large-6 large-offset-1 no-padding medium-12 small-12">
      <h2 class="heading-c">Get Started</h2>

      {% include components/card-featured.html card=data.featured_research path="/outputs/" %}

      <div class="button-container button-container--right">
        <a class="button button--arrow" href="{{ '/outputs' | relative_url  }}">All Open Access Guidelines</a>
      </div>
    </div>
  </div>

  <div class="row expanded">
    <div class="column large-4 small-12">
      <h3>{{data.short_description_title}}</h3>
      <div class="button-container button-container--full-width">
        <a class="button button--arrow" href="">{{data.button_text}}</a>
      </div>
    </div>
    <div class="column large-6 large-offset-2 small-12 markdown-secondary">
      {{data.short_description | markdownify}}
    </div>
  </div>

  {% include components/generic-card-layout.html 
    cards=data.resource_collections
    cards_heading=data
    cards_type="resource_cards"
    cards_heading="Resources"
  %}

  <!-- EVENT CARD with date, title, type  -->
  {% if data.upcoming_events and data.upcoming_events.size != 0 %}
  <div class="row expanded">
    <div class="column large-12 small-12">
      <h3 class="heading-b">Upcoming Events</h3>
    </div>
    <div class="cards-wrapper">
      {% for card in data.upcoming_events %} {% include components/card-event.html card=card event_type="upcoming" %} {%
      endfor %}
    </div>
  </div>
  {% endif %}
  <!-- END EVENT CARD  -->
</main>
