---
layout: default
title: 
subtitle: 
description:
seo_image_path: #'/images/media/filename.jpg'
top_bar: white
---

{% assign data = site.data.contentful.onTopic.onTopic | first %}

<main id="main" class="topic-page">
  {% include components/nav-button.html %}
  <div class="row expanded page-section--topic top-section section--gray" style="background-image: url({{ data.header_image.url }})">
    <div class="column large-5 medium-12 small-12">
      <h1>{{ data.title }}</h1>
      <div class="bar" style="background-image: url({{ data.icon.url }})"></div>
      <div class="markdown-secondary">
        {{ data.introduction | markdownify }}
      </div>
    </div>
    <div class="column large-6 large-offset-1 medium-12 small-12 no-padding">
      {% if data.featured_research %}
        <!-- <h3 class="heading-c">Featured resource</h3> -->
        {% include components/card-featured.html card=data.featured_research full_author=data.featured_research.full_author path="/products/" %} 
      {% endif %}
    </div>
  </div>

  {% assign cards_title = data.title | prepend: 'All '  %}

  {% if data.all_resources %}
    {% include components/generic-card-layout.html 
      cards=data.all_resources
      cards_heading=cards_title
      cards_type="research_cards"
    %}
  {% endif %}
</main>
